.fin-jurnal-wrapper {
    padding: 10rem 23rem 0 23rem;

    @include breakpoint($tabletV_bp) {
        padding: 10rem 13rem 0 13rem;
    }

    @include breakpoint($tabletH_bp) {
        padding: 1rem 3rem 0 3rem;
    }

    @include breakpoint($mobile_bp) {
        padding: 0;
    }

    .item-wrapper {
        color: #333333;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #f0f0f0;
        border-radius: 10px;
        margin-bottom: 4.5rem;
        box-sizing: border-box;
        transition: box-shadow 0.2s ease;
        padding: 3rem 8rem;
        height: 20.3rem;
        cursor: pointer;

        @include breakpoint($tabletV_bp) {
            padding: 2rem 1.5rem;
            min-height: 12.7rem;
            height: auto;
        }

        &:hover {
            box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.3);
        }

        .item-text {
            font: normal normal 500 2.5rem/130% 'Montserrat';

            @include breakpoint($tabletV_bp) {
                font: normal normal 500 1.6rem/120% 'Montserrat';
            }
        }

        .item-bottom {
            display: flex;
            justify-content: space-between;

            @include breakpoint($tabletV_bp) {
                display: none;
            }

            .item-link {
                font: normal normal 500 1.8rem/130% 'Montserrat';
                color: #04388f;
                text-decoration: none;
            }

            .item-tag {
                font: normal normal 500 1.8rem/130% 'Montserrat';
                color: #ababab;
            }
        }
    }
}

.single-jurnal {
    .single-page-bottom {
        @include breakpoint($mobile_bp) {
            display: none;
        }
    }

    .single-fin-jurnal-bottom {
        text-align: center;
    }

    .single-fin-jurnal-link {
        font: normal normal 500 1.8rem/130% 'Montserrat';
        display: block;
        color: #04388f;
        text-decoration: none;
        &:focus {
            outline: none;
        }
    }

    .single-fin-jurnal-body {
        font: normal normal 500 1.8rem/143% 'Montserrat';
        text-align: justify;
        margin: 10rem 25rem 6rem 25rem;
    }
}
