// Colors
$primary: #1D2B6B;
$secondary: #fff;

$color_white: #fff;
$color_black: #000;
$color_shadow: #333;

// Fonts
$font_main: 500 1.8rem/2.4rem 'Montserrat';
$font_button: 600 1.9rem/2.2rem 'Montserrat';
$font_header: 700 10rem/12rem 'Open Sans Condensed';
$font_sub_header: 700 3.5rem/4.2rem 'Open Sans Condensed';