// Colors
$primary:   #1D2B6B;
$secondary: #fff;

$color_white: #fff;
$color_black: #000;
$color_dark:  #333;

// Fonts
$font_sublink:              normal normal 500 1.6rem/2rem 'Montserrat';
$font_main:                 normal normal 600 1.6rem/2rem 'Montserrat';
$font_about_item:           normal normal 500 1.8rem/2.7rem 'Montserrat';
$font_link:                 normal normal 600 1.8rem/2.2rem 'Montserrat';
$font_button:               normal normal 600 1.8rem/2.2rem 'Montserrat';
$font_button_dark:          normal normal 600 2rem/2.5rem 'Montserrat';
$font_call_form:            normal normal 500 2rem/2.4rem 'Montserrat';
$font_call_label:           normal normal 500 1.5rem/1.95rem 'Montserrat';
$font_section_sub_heading:  normal normal 500 2rem/2.6rem 'Montserrat';
$font_section_sub_heading_bold:  normal normal 700 2rem/2.6rem 'Montserrat';
$font_header:               normal normal 700 10rem/12rem 'Open Sans Condensed';
$font_page_header:          normal normal 700 5rem/6rem 'Open Sans Condensed';
$font_section_heading:      normal normal 700 3.5rem/4.2rem 'Open Sans Condensed';

// Breakpoints

$tabletH_bp: 1251px;
$mobile_menu_bp: 1080px;
$tabletV_bp: 991px;
$mobile_bp: 557px;