@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans+Condensed:wght@700&display=swap');
// @import "vendor/reset";
@import "vendor/owl.carousel.min";
@import "vendor/owl.theme.default";
@import "vars";


html {
    font-size: 62.5%;
}

body {
    font: $font_main;
    background-color: $color_white;
    color: $color_dark;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 3rem;
}

h1 {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 130%;
    color: $primary;
    padding: 3rem 3rem 0; 

    @media (min-width: 1140px) {
        font-size: 5rem;
        line-height: 120%;
        padding: 3rem 0; 
        padding-bottom: 4rem;
    }
}

h2 {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 130%;
    color: $primary;

    @media (min-width: 1140px) {
        font-size: 3.5rem;
        line-height: 130%;
    }
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    color: $color_dark;
    font-size: 1.4rem;
    line-height: 120%;
    padding: 0 3rem;

    @media (min-width: 1140px) {
        font-size: 1.8rem;
        line-height: 143%;
    }
}

h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 143%;
    color: $color_dark;
}

p {
    font-weight: 500;
    font-size: 1.8rem;
    text-indent: 2rem;
    line-height: 142%;
}

b {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 130%;
}

a {
    text-decoration: none;
    color: #04388F;

    &:hover,
    &:active,
    &:visited {
        text-decoration: none;
        color: #04388F;
    }
}

.container {
    max-width: 142rem;
    // margin: 0 auto;
    // padding: 0 5vw;
    // width: 100%;
}

.section-heading {
    font-size: 2rem;
    line-height: 130%;
    color: $primary;
    margin-bottom: 4rem;

    @media (min-width: 1140px) {
        font: $font_section_heading;
        margin-bottom: 11.3rem;
    }
}

.section-sub-heading {
    font: $font_section_sub_heading;
    color: $color_dark;
}

.cta-button-dark {
    font: $font_button_dark;
    text-decoration: none;
    color: $secondary;
    background-color: $primary;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.6rem 1rem rgba($color_dark, 0.2);
    padding: 2.2rem 8.6rem;
    transition: background-color .2s ease-in;

    &:hover {
        color: $primary;
        background-color: $secondary;
        text-decoration: none;
    }
}

.cta-button-light {
    font: $font_button;
    color: $primary;
    background-color: $secondary;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 1rem rgba($color_dark, 0.2);
    padding: 1rem 2.6rem;
    transition: background-color .2s ease-in;

    &:hover {
        color: $secondary;
        background-color: $primary;
        text-decoration: none;
    }
}

.breadcrumbs {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 130.2%;
    margin-bottom: 3rem;
    color: $primary;
    padding: 5rem 0;
}

.arrows-wrapper {
    text-align: center;
    width: 100%;
    
    .arrow-left img {
        transform: rotateY(180deg);
    }
}


/* Blocks */
@import "blocks/header";
@import "blocks/header-secondary.scss";
@import "blocks/index/slider";
@import "blocks/index/about";
@import "blocks/index/call-form.scss";
@import "blocks/index/finservices";
@import "blocks/index/calc.scss";
@import "blocks/index/news";
@import "blocks/index/contact.scss";
@import "blocks/o-boggat/o-boggat.scss";
@import "blocks/u-dokumenty/u-dokumenty.scss";
@import "blocks/rekvizity/rekvizity.scss";
@import "blocks/dlya-partnerov/dlya-partnerov.scss";
@import "blocks/news/news.scss";
@import "blocks/fin-jurnal/fin-jurnal.scss";
@import "blocks/reviews/reviews.scss";
@import "blocks/contacts/contacts.scss";
@import "blocks/saving/title.scss";
@import "blocks/saving/table.scss";
@import "blocks/saving/bottom.scss";
@import "blocks/zaymi/materinsky-kapital.scss";
@import "blocks/zaymi/zaym-potrebitelsiy.scss";
@import "blocks/zaymi/zaym-gospoddergka.scss";
@import "blocks/zaymi/zaym-rsk.scss";
@import "blocks/footer";
