@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans+Condensed:wght@700&display=swap');
@import "vendor/reset";
@import "vendor/owl.carousel";
@import "vendor/owl.theme.default";
@import "vars";


html {
    font: $font_main;
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    background-color: $color_white;
    color: $color_black;
}

.container {
    max-width: 142rem;
    margin: 0 auto;
    width: 100%;
}

.section-heading {
    font: $font_section_heading;
    color: $primary;
    margin-bottom: 11.3rem;
}

.section-sub-heading {
    font: $font_section_sub_heading;
    color: $color_dark;
}

.cta-button-dark {
    font: $font_button_dark;
    text-decoration: none;
    color: $secondary;
    background-color: $primary;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.6rem 1rem rgba($color_dark, 0.2);
    padding: 2.2rem 8.6rem;
    transition: background-color .2s ease-in;

    &:hover {
        color: $primary;
        background-color: $secondary;
        text-decoration: none;
    }
}

.cta-button-light {
    font: $font_button;
    color: $primary;
    background-color: $secondary;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 1rem rgba($color_dark, 0.2);
    padding: 1rem 2.6rem;
    transition: background-color .2s ease-in;

    &:hover {
        color: $secondary;
        background-color: $primary;
        text-decoration: none;
    }
}

/* Blocks */
@import "blocks/header";
@import "blocks/index/slider";
@import "blocks/index/about";
@import "blocks/index/call-form.scss";
@import "blocks/index/finservices";
@import "blocks/index/calc.scss";
@import "blocks/index/contact.scss";
@import "blocks/o-boggat/o-boggat.scss";
@import "blocks/u-dokumenty/u-dokumenty.scss";
@import "blocks/rekvizity/rekvizity.scss";
@import "blocks/dlya-partnerov/dlya-partnerov.scss";
@import "blocks/footer";