.o-boggat {
    font: $font_page_header;
    color: $primary;
    background-image: url(/assets/images/partner.png);
    background-repeat: no-repeat;
}
.o-boggat-slogan{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 6rem;
    line-height: 120%;
    color: rgba(51, 51, 51, 0.5);
    padding-top: 4.1rem;
    padding-bottom: 10.3rem;
}

.breadcrumbs{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 130.2%;
    padding-top: 5rem;
}
.section-name{
    padding-top: 3rem;
}
.boggat-cooperativ{
    background-image: url(/assets/images/cooperativ.png);
    background-repeat: no-repeat;
}
.tree-squares{
    display: grid;
    grid-gap:3.1rem;
    grid-template-columns: repeat(3, auto);
}
.square{
    display: grid;
    grid-template-rows: 9rem auto;
    width: 45.3rem;
    height: 47.6rem;
    background: #1D2B6B;
    box-shadow: 0px 3px 10px rgba(29, 43, 107, 0.4);
    border-radius: 10px;
}
.check{
    display: grid;
    place-items: center;
    align-items: end;
}
.check-text{
    color: #ffffff;
    padding-right: 5.2rem;
    padding-left: 5.2rem;
    padding-bottom: 10rem;
    align-self: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 150%;
    text-align: justify;
}
.cooperativ-text{
    display: grid;
    grid-template-columns: auto 81.6rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 150%;
    text-align: justify;
    color: #333333;
    padding: 14rem 0;
}
.cooperativ-info-all{
    display:grid;
    grid-template-columns: repeat(2, auto);
    margin-top: -11rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 150%;
}
.cooperativ-info-text{
    margin-top: 11rem;
}

.pay-text-steps{
    display: grid;
    grid-template-columns: 10rem auto;
    align-self:start;
    align-items: center;
    margin-top: 3rem;
}
.pay-text-steps-number {
    font-family: 'Montserrat'; /* Гарнитура шрифта первой буквы */
    font-size: 6rem; /* Размер шрифта первого символа */
    font-weight: 900;
    line-height: 130.2%;
    color: #00296F;
    align-self:start;
   }
   .pay-text-text{
    padding-top: 6rem;
    padding-right: 15rem;
   }
   .button-cooperativ-place{
       justify-content: end;
       margin-top: -1rem;
       padding-bottom: 15rem;
   }

   .cooperativ-button-dark{
       align-self: center;
       height: 6rem;
       
   }