.saving-bottom {
    padding: 5rem 0;
    text-align: center;

    @media (min-width: 1298px) {
        padding: 15rem 0;
    }

    .image-wrap {
        display: none;
        width: 50%;

        @media (min-width: 1298px) {
            display: block;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    .text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 150%;
        text-align: justify;
        letter-spacing: 0.02em;
        color: #333;
    }

    .hr-line {
        border-top: 0.2rem solid #1D2B6B;
    }
}

.container-fluid {
    display: flex;
    flex-direction: row;

    .text-wrap {
        padding: 10rem 0;
        width: 100%;
        margin-right: 3rem;

        @media (min-width: 1298px) {
            width: 50%;
            margin-right: 6rem;
        }

        .text {
            margin-left: 5vw;
        }
    }

    .hr-line {
        margin: 2rem 40% 2rem 0;

        @media (max-width: 1298px) {
            &:nth-child(2),
            &:nth-child(6) {
                margin: 2rem 20% 2rem 0;
            }

            &:nth-child(4) {
                margin: 2rem 0 2rem 20%;
            }
        }
    }

    &--reverse {
        display: flex;
        flex-direction: row-reverse;
        padding: 10rem 0;

        .text-wrap {
            width: 100%;
            margin-left: 3rem;

            @media (min-width: 1298px) {
                margin-right: 6rem;
                width: 50%;
            }
        
            .text {
                margin-right: 5vw;
            }
        }
        
        .hr-line {
            margin: 2rem 0 2rem 40%;

            @media (max-width: 1298px) {
                &:nth-child(2),
                &:nth-child(6) {
                    margin: 2rem 20% 2rem 0;
                }
    
                &:nth-child(4) {
                    margin: 2rem 0 2rem 20%;
                }
            }
        }
    }

}