.saving-bottom {
    padding: 15rem 0;
    text-align: center;

    @include breakpoint(1298px) {
        padding: 5rem 0;
    }

    @include breakpoint($tabletV_bp) {
        padding: 5rem 0 0;
    }

    .image-wrap {
        display: block;
        width: 50%;

        @include breakpoint(1298px) {
            display: none;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    .text {
        font: normal normal 500 1.8rem/150% 'Montserrat';
        text-align: justify;
        letter-spacing: 0.02em;
        color: #333;

        @include breakpoint($tabletV_bp) {
            font: normal normal 500 1.6rem/130% 'Montserrat';
        }
    }

    .hr-line {
        border-top: 0.2rem solid #1d2b6b;
    }

    .background-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &--pensioner {
            background-image: url(/assets/images/pensioner-mobile-bottom.png);
        }

        &--procent {
            background-image: url(/assets/images/procent-mobile-bottom.png);
        }
    }
}

.container-fluid {
    display: flex;
    flex-direction: row;

    .text-wrap {
        padding: 10rem 0;
        width: 50%;
        margin-right: 6rem;

        @include breakpoint(1298px) {
            width: 100%;
            margin-right: 3rem;
        }

        @include breakpoint($tabletV_bp) {
            margin-right: 0;
        }

        .text {
            margin-left: 5vw;

            @include breakpoint($tabletV_bp) {
                margin-left: 0;
            }
        }
    }

    .hr-line {
        margin: 2rem 40% 2rem 0;
        

        @include breakpoint(1298px) {
            &:nth-child(2),
            &:nth-child(6) {
                margin: 2rem 20% 2rem 0;
            }

            &:nth-child(4) {
                margin: 2rem 0 2rem 20%;
            }
        }
    }

    &--reverse {
        display: flex;
        flex-direction: row-reverse;
        padding: 10rem 0;

        @include breakpoint($tabletV_bp) {
            padding: 3rem 0;
        }

        .text-wrap {
            margin-left: 6rem;
            width: 50%;

            @include breakpoint(1298px) {
                width: 100%;
                margin-left: 3rem;
            }

            @include breakpoint($tabletV_bp) {
                margin-right: 3rem;
            }

            .text {
                margin-right: 5vw;

                @include breakpoint($tabletV_bp) {
                    margin-right: 0;
                }
            }
        }

        .hr-line {
            margin: 2rem 0 2rem 40%;
            

            @include breakpoint(1298px) {
                &:nth-child(2),
                &:nth-child(6) {
                    margin: 2rem 20% 2rem 0;
                }

                &:nth-child(4) {
                    margin: 2rem 0 2rem 20%;
                }
            }
        }
    }
}
