.saving-title {
    display: flex;
    background-color: #EBEBEB;

    .title-image {
        height: inherit;
        width: 40%;
    }

    .title-image img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.saving-decription {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-top: 16.1rem;
    margin-bottom: 26.4rem;

    &--pensioner {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        margin-top: 10rem;
    }
}