.u-documenty {
    font: normal normal 700 5rem/6rem 'Open Sans Condensed';
    color: $primary;
    margin-bottom: 15rem;
    font-size: 18px;

    .section-heading {
        text-align: center;
    }
    
    .page-wrapper {
        padding: 4rem 3rem;

        @media (min-width: 625) {
            padding: 7rem 5rem 0 5rem;
        }

        @media (min-width: 870px) {
            padding: 7rem 12rem 0 12rem;
        }  
    }

    .download-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 5rem;

        @media (min-width: 1140px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .download-item {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-bottom: 3.5rem;

        .item-image {
            width: 6rem;
            height: 6rem;
            margin-right: 3rem;

            @media (min-width: 1140px) {
                margin-right: 6rem;
            }
        }

        .item-title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 130.2%;
            color: #333;
        }
    }

    .sert-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
        grid-column-gap: 2.7rem;
        grid-row-gap: 1rem;

        .image-wrapper {
            position: relative;
            margin: auto;
            cursor: pointer;

            .hover-wrapper {
                position: absolute;
                opacity: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(51, 51, 51, 0.5);
                background-image: url(/assets/images/icons/zoom.svg);
                background-position: center;
                background-repeat: no-repeat;
                transition: opacity .1s ease;
            }

            &:hover {
                > .hover-wrapper {
                    opacity: 1;
                }
            }


        }
    }
}