.cta-button-dark {
    font: normal normal 600 2rem/2.5rem 'Montserrat';
    text-decoration: none;
    color: $secondary;
    background-color: $primary;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.6rem 1rem rgba(#333, 0.2);
    padding: 2.2rem 8.6rem;
    transition: background-color .2s ease-in;

    &:hover {
        color: $primary;
        background-color: $secondary;
        text-decoration: none;
    }
}

.cta-button-light {
    font: normal normal 600 1.8rem/2.2rem 'Montserrat';
    color: $primary;
    background-color: $secondary;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 1rem rgba(#333, 0.2);
    padding: 1rem 2.6rem;
    transition: background-color .2s ease-in;

    &:hover {
        color: $secondary;
        background-color: $primary;
        text-decoration: none;
    }
}
