//-------------Footer styles-------------//

footer {
    background-color: $primary;
    color: $secondary;
    padding-top: 5.7rem;
    padding-bottom: 7.5rem;

    @include breakpoint($tabletV_bp) {
        padding-top: 4.3rem;
        padding-bottom: 3.5rem;
    }
}

.footer-container {
    position: relative;
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        'logo nav nav contact contact contact contact contact contact contact contact contact'
        'tou tou tou tou tou tou tou tou tou tou tou social'
        'fi fi fi fi fi fi fi fi fi fi fi fi'
        'copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright';

    @include breakpoint($tabletH_bp) {
        grid-template-areas:
            'logo nav nav nav nav nav nav nav contact contact contact contact'
            'tou tou tou tou tou tou tou tou tou tou tou social'
            'fi fi fi fi fi fi fi fi fi fi fi fi'
            'copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright';
    }

    @include breakpoint($mobile_menu_bp) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'social contact'
            'nav nav'
            'tou tou'
            'fi fi'
            'copyright copyright';
    }
}

.footer-logo {
    grid-area: logo;
    align-self: center;
    justify-items: center;
    margin-bottom: 0.7rem;

    @include breakpoint($mobile_menu_bp) {
        display: none;
    }
}

.footer-nav {
    margin: 4.7rem 4.4rem 0 8rem;
    padding: 0;
    padding-bottom: 1.6rem;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);

    li {
        list-style-type: none;
        margin: 0 1rem 0 0;

        &:last-of-type {
            margin: 0;
        }

        @include breakpoint($mobile_menu_bp) {
            margin: 0 2.5rem 0 0;
        }
    }

    @include breakpoint($tabletH_bp) {
        margin: 4.7rem 2rem 2rem 2rem;
    }

    @include breakpoint($mobile_menu_bp) {
        margin: 6.5rem 0 2rem 0;
        border: none;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.footer-nav > li > a {
    color: rgba(255, 255, 255, 0.8);
    font: normal normal 500 1.6rem/2rem 'Montserrat';
    text-decoration: none;
    white-space: nowrap;

    @include breakpoint($mobile_menu_bp) {
        font: normal normal 500 1.4rem/1.7rem 'Montserrat';
        color: #fff;
        text-decoration: underline;
    }
}

.contact-block {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include breakpoint($mobile_menu_bp) {
        justify-content: center;
    }

    .footer-phone {
        font: normal normal 600 2.1rem/117.7% 'Montserrat';
        color: rgba(255, 255, 255, 0.8);
        padding-top: 2.1rem;
        margin-bottom: 0.4rem;

        @include breakpoint($mobile_menu_bp) {
            font: normal normal 500 1.4rem/117.7% 'Montserrat';
            color: #fff;
            padding-top: 0;
        }
    }

    .footer-address {
        font: normal normal 500 1.6rem/117.7% 'Montserrat';
        color: rgba(255, 255, 255, 0.8);
        text-align: right;

        @include breakpoint($mobile_menu_bp) {
            font: normal normal 400 1.2rem/117.7% 'Montserrat';
            color: #fff;
            position: absolute;
            left: 0;
            top: 6rem;
        }
    }
}

.terms-of-use {
    font: normal normal 400 1.6rem/2rem 'Montserrat';
    grid-area: tou;
    margin: auto 0;
    color: rgba(255, 255, 255, 0.8);

    @include breakpoint($mobile_menu_bp) {
        font: normal normal 400 1.4rem/145% 'Montserrat';
        color: #fff;
    }
}

.social-networks {
    grid-area: social;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.7rem;

    @include breakpoint($mobile_menu_bp) {
        justify-content: flex-start;
    }

    > a {
        display: block;
        margin-left: 2.6rem;

        @include breakpoint($mobile_menu_bp) {
            margin-left: 0;
            margin-right: 3rem;

            img {
                width: auto;
                height: 2rem;
            }
        }
    }
}

.footer-info {
    font: normal normal 400 1.5rem/120% 'Montserrat';
    color: rgba(255, 255, 255, 0.8);
    grid-area: fi;
    text-align: justify;

    @include breakpoint($mobile_menu_bp) {
        font: normal normal 400 1rem/120% 'Montserrat';
        color: rgba(255, 255, 255, 0.5);
        margin-top: 4rem;
    }
}

.footer-copyright {
    font: normal normal 400 1.6rem/2rem 'Montserrat';
    grid-area: copyright;
    text-align: center;
    margin-top: 3rem;

    @include breakpoint($mobile_menu_bp) {
        font: normal normal 400 1.2rem/1.5rem 'Montserrat';
        color: rgba(255, 255, 255, 0.5);
    }
}
