.header {
    position: absolute;
    top: 0;
    width: 100%;

    @include breakpoint($mobile_menu_bp) {
        position: relative;
    }
}

.header-top {
    .container {
        display: flex;
        padding: 2.4rem;
        justify-content: flex-end;
    }
    background-color: #F0F0F0;

    @include breakpoint($mobile_menu_bp) {
        display: none;
    }
}

.header-top__email,
.header-top__phone,
.header-top__search {
    display: flex;
    align-items: flex-end;
    align-self: center;
    margin-left: 4.4rem;
    font: normal normal 600 1.6rem/2rem 'Montserrat';
    color: #333;
    text-decoration: none;
}

.top-text,
.top-search {
    display: block;
    margin-left: 2.2rem;
    color: #333;
}

.header-top__search {
    transition: border-bottom .2s  ease-in;
    border-bottom: 0.15rem solid rgba($primary, 0);

    &:hover,
    &:focus {
        border-bottom: 0.15rem solid rgba($primary, 1);
    }

    .top-icon {
        margin-bottom: 0.5rem;
    }

    .top-search {
        display: block;
        padding-bottom: 0.2rem;
        margin-bottom: 0.2rem;

        .search-input {
            font: inherit;
            border: none;
            background: none;
            color:  #000;
            max-width: 5.7rem;
            line-height: 1.3rem;

            &::placeholder {
                color:  #000;
                font: inherit;
            }
        }
    }
}

.header-bottom {
    background: none;
    padding: 4.3rem 0;

    @include breakpoint($mobile_menu_bp) {
        display: none;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
    }

    .header-bottom__logo {
        align-self: center;
    }

    .header-bottom__nav {
        display: flex;
        justify-content: flex-end;

        .nav {
            display: flex;
            justify-content: flex-end;

            .nav-item {
                position: relative;
                align-self: center;
                margin-right: 5.34rem;
                padding: 1rem 0;
                list-style-type: none;

                @include breakpoint($tabletH_bp) {
                    margin-right: 1rem;
                }

                &:hover {
                    .nav-link {
                        color: $primary;
                    }
                
                    > .subnav {
                        display: block;
                    }
                }

                .nav-link {
                    font: normal normal 600 1.8rem/2.2rem 'Montserrat';
                    text-decoration: none;
                    color: $secondary;
                    transition: color .2s ease-in;
                }

                .subnav {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: -2rem;
                    width: 280px;
                    background-color: $secondary;
                    border-radius: 10px;
                    padding: 2.5rem 0;
                    filter: drop-shadow(0px 3px 10px rgba(51, 51, 51, 0.2));
                    transition: all .3s ease-in-out;
                    list-style-type: none;

                    &:before {
                        position: absolute;
                        content: "";
                        top: -1rem;
                        left: 2.3rem;
                        border-style: solid;
                        border-width: 0 14px 18px 14px;
                        border-color: transparent transparent #ffffff transparent;
                        line-height: 0px;
                        _border-color: #000000 #000000 #ffffff #000000;
                        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
                    }

                    .subnav-link {
                        display: block;
                        color: #333;
                        font: normal normal 500 1.6rem/2rem 'Montserrat';
                        text-decoration: none;
                        padding: 0.5rem 3rem;
                        transition: all .2s ease-in;

                        &:hover {
                            background-color: $primary;
                            color: $secondary;
                        }
                    }
                }
            }
        }

        .lk-button {
            align-self: center;
        }
    }
}

// MOBILE STYLES

.header-mobile {
    display: none;

    @include breakpoint($mobile_menu_bp) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem;
        background-color: #F0F0F0;
        cursor: pointer;
    }
}