.section-heading {
    color: $primary;
    font: normal normal 700 3.5rem/4.2rem 'Open Sans Condensed';
    margin-bottom: 10rem;
    text-align: center;

    @include breakpoint($mobile_menu_bp) {
        margin-bottom: 4rem;
    }

    @include breakpoint($mobile_bp) {
        font: normal normal 700 2rem/130% 'Open Sans Condensed';
    }
}

.section-sub-heading {
    font: normal normal 500 2rem/130.2% 'Montserrat';
    padding: 0;
    color: #333;

    @include breakpoint($mobile_bp) {
        font: normal normal 500 1.6rem/120% 'Montserrat';
    }
}
