.dark-container {
    position: absolute;
    text-align: center;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);

    @include breakpoint($tabletH_bp) {
        position: relative;
        z-index: 0;
        left: 0;
        transform: translateY(-5%);
    }

    @include breakpoint($mobile_bp) {
        .cta-button-dark {
            display: none;
        }
    }
}

.container.special {
    background: #F0F0F0;
    box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.2);
    border-radius: 10px;
    padding: 6rem;
    margin-bottom: 10rem;

    @include breakpoint($mobile_bp) {
        padding: 3rem 4rem;
        margin-bottom: 3rem;
    }

    h2 {
        margin-bottom: 5rem;
    }
}

.mb800 {
    margin-bottom: 80rem;

    @include breakpoint($tabletH_bp) {
        margin-bottom: 0;
    }
}