.zaym-goverment {
    padding: 5rem 0;
    h2 {
        text-align: center;
        margin-bottom: 12.5rem;
    }
    background-image: url(/assets/images/zaym-goverment.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #EDF9F5;

    @media (min-width: 1298px) {
        padding: 15rem 0;
    }
}

.goverment-list-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;

    @media (min-width: 1298px) {
        margin: 0 10rem;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        @media (min-width: 1298px) {
            flex-direction: row;
        }

        .cta-button-dark {
            max-width: 40rem;
            margin: 0 auto;
            padding: 1.5rem 6.5rem;
        }
    }
}

.goverment-list-item {
    display: flex;
    margin-bottom: 8rem;
    width: 100%;
    &:nth-child(2n-1) {
        margin-right: 0;
    }

    @media (min-width: 1298px) {
        width: 50%;

        &:nth-child(2n-1) {
            margin-right: 9rem;
        }
    }
}

.goverment-list-number {
    font-weight: 900;
    font-size: 80px;
    color: #1D2B6B;
    margin-right: 4rem;
    display: block;
    height: 100%;
    line-height: 90%;
    flex: 1;
}

.goverment-list-text {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: justify;
    color: #333333;
    flex: 8;
}