.zaym-goverment {
    padding: 15rem 0;
    h2 {
        text-align: center;
        margin-bottom: 12.5rem;
    }
    background-image: url(/assets/images/zaym-goverment.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #EDF9F5;

    @include breakpoint($tabletH_bp) {
        padding: 5rem 0;
    }
}

.goverment-list-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 10rem;

    @include breakpoint($tabletH_bp) {
        margin: 0;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        @include breakpoint($tabletH_bp) {
            flex-direction: column;
        }

        .cta-button-dark {
            max-width: 40rem;
            margin: 0 auto;
            padding: 1.5rem 6.5rem;
        }
    }
}

.goverment-list-item {
    display: flex;
    margin-bottom: 8rem;
    width: 50%;

    &:nth-child(2n-1) {
        margin-right: 9rem;
    }

    @include breakpoint($tabletH_bp) {
        width: 100%;
        &:nth-child(2n-1) {
            margin-right: 0;
        }
    }
}

.goverment-list-number {
    font: normal normal 900 8rem/90% 'Montserrat';
    color: #1D2B6B;
    margin-right: 4rem;
    display: block;
    height: 100%;
    flex: 1;

    @include breakpoint($tabletH_bp) {
        font: normal normal 900 5rem/90% 'Montserrat';
    }
}

.goverment-list-text {
    font: normal normal 500 1.8rem/150% 'Montserrat';
    display: block;
    text-align: justify;
    color: #333333;
    flex: 8;

    @include breakpoint($tabletH_bp) {
        font: normal normal 500 1.4rem/120% 'Montserrat';

        b {
            font: normal normal bold 1.4rem/120% 'Montserrat';
        }
    }
}