.reviews {
    margin-bottom: 15rem;
}

.single-review {
    .single-page-body {
        margin: 4rem 15rem 6rem 15rem;

        .item-wrapper-user {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 6.5rem;
                
            .user-image{
                padding: 2rem;
            }
            .user-name{
                padding:2rem;
            }
        }
        
        .single-reviews-link {
            display: block;
            font-weight: 500;
            font-size: 18px;
            line-height: 130.2%;
            color: #04388F;
            text-decoration: none;
        
            &:focus {
                outline: none;
            }
        }
    
        > img {
            margin: 0 auto;
            margin-top: 6rem;
        }
    }

}

.reviews-wrapper {
    padding: 10rem 3rem 0 3rem;

    .item-wrapper {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #F0F0F0;
        border-radius: 10px;
        padding: 30px 80px;
        margin-bottom: 4.5rem;
        //height: 20.3rem;
        box-sizing: border-box;
        transition: box-shadow .2s ease;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.3);
        }

        .item-wrapper-user {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .user-name {
            color: #000000;
            font-style: normal;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 142.8%;
            padding: 2rem;
        }

        .user-image {
            padding: 2rem;
        }

        .item-text {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 142.8%;
            text-align: center;
            color: #000000;
            padding: 1.3rem;
        }

        .item-bottom {
            display: flex;
            justify-content: center;

            .item-link {
                font-weight: 500;
                font-size: 18px;
                line-height: 142.8%;
                padding: 1.5rem;

                a {
                    color: #04388F;
                    text-decoration: none;
                }
            }

            .item-tag {
                font-weight: 500;
                font-size: 18px;
                line-height: 130.2%;
                color: #ABABAB;
            }
        }
    }

    @media (min-width: 956px) {
        padding: 10rem 13rem 0 13rem;
    }

    @media (min-width: 1150px) {
        padding: 10rem 23rem 0 23rem;
    }
}