.single-review {
    .single-page-body {
        margin: 0 15rem;

        @include breakpoint($mobile_menu_bp) {
            margin: 0;
        }

        .item-wrapper-user {
            display: flex;
            align-items: center;
            justify-content: center;

            @include breakpoint($mobile_menu_bp) {
                margin-bottom: 1rem;
            }
                
            .user-image{
                padding: 2rem;
            }
            .user-name{
                padding:2rem;
            }
        }

        img {
            margin: 0 0 3rem;

            @include breakpoint($mobile_menu_bp) {
                margin: 0;
            }
        }
    }

}

.reviews-wrapper {
    padding: 10rem 13rem 0 13rem;

    @include breakpoint($tabletV_bp) {
        padding: 0;
    }

    .item-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #F0F0F0;    
        border-radius: 10px;
        padding: 3rem 8rem;
        margin-bottom: 4.5rem;
        box-sizing: border-box;
        transition: box-shadow .2s ease;
        cursor: pointer;

        @include breakpoint($tabletV_bp) {
            padding: 4rem;
        }

        &:hover {
            box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.3);
        }

        .item-wrapper-user {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .user-name {
            font: normal normal 600 1.8rem/143% 'Montserrat';
            color: #000000;
            padding: 2rem;

            @include breakpoint($mobile_bp) {
                font: normal normal 600 1.4rem/143% 'Montserrat';
            }
        }

        .user-image {
            padding: 2rem;

            img {
                @include breakpoint($mobile_bp) {
                    width: 55px;
                }
            }
        }

        .item-text {
            p {
                font: normal normal 500 1.8rem/143% 'Montserrat';    
                text-align: center;
                color: #000000;

                @include breakpoint($mobile_bp) {
                    font: normal normal 500 1.6rem/120% 'Montserrat';  
                }
            }
            padding: 1.3rem;

            @include breakpoint($mobile_bp) {
                padding: 3rem 0;
            }
        }

        .item-bottom {
            display: flex;
            justify-content: center;

            .item-link {
                font: normal normal 500 1.8rem/143% 'Montserrat';
                padding: 1.5rem;
                color: #04388F;
                text-decoration: none;

                @include breakpoint($mobile_bp) {
                    font: normal normal 500 1.4rem/143% 'Montserrat';
                    color: $primary;
                    padding: 0 1.5rem;
                }
            }

            .item-tag {
                font-weight: 500;
                font-size: 18px;
                line-height: 130.2%;
                color: #ABABAB;
            }
        }
    }
}