.about {
    padding: 15rem 0;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .section-heading {
        font: $font_sub_header;
        color: $primary;
        margin-bottom: 11.3rem;
    }
}

.about-items {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .about-item {
        display: flex;
        align-items: center;

        .about-item-text {
            font: $font_about_item;
        }

        .about-item-icon img {
            max-width: 75px;
            max-height: 75px;
        }
    
        &--left {
            flex-direction: row;

            .about-item-text {
                text-align: right;
            }
            .about-item-icon {
                margin: 3rem 2rem 3rem 4rem;
            }
        }
        &--right {
            flex-direction: row-reverse;

            .about-item-text {
                text-align: left;
            }
            .about-item-icon {
                margin: 3rem 4rem 30px 2rem;
            }
        }     
    }
}