//-------------Calc styles-------------//

.calc {
    padding: 15rem 0;

    @include breakpoint(854px) {
        padding: 6rem 0;
    }
}

.calc-wrapper {
    display: flex;
    justify-content: center;

    @include breakpoint(854px) {
        flex-direction: column;
    }
}

.calc-column {
    display: flex;
    flex-direction: column;

    .section-heading {
        letter-spacing: 0.02em;
        margin-bottom: 5rem;
        text-align: left;
        padding-top: 0;

        @include breakpoint(854px) {
            text-align: center;
        }

        @include breakpoint($mobile_bp) {
            margin-bottom: 4rem;
        }
    }

    .section-sub-heading {
        margin-bottom: 5rem;

        @include breakpoint(854px) {
            text-align: center;
        }

        @include breakpoint($mobile_bp) {
            margin-bottom: 3rem;
        }
    }

    &--left {
        margin: 0 4rem;

        @include breakpoint($mobile_menu_bp) {
            margin: 0 2rem;
        }

        @include breakpoint(854px) {
            margin: 0;
        }

        .calc-form {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            @include breakpoint($mobile_bp) {
                margin-bottom: 3rem;
            }

            label {
                font: normal normal normal 1.8rem/130.2% 'Montserrat';
                display: block;
                position: relative;
                user-select: none;
            }

            input[type='radio'] {
                display: none;
            }

            input[type='radio'] + label:before {
                position: absolute;
                content: '';
                cursor: pointer;
                width: 2rem;
                height: 2.4rem;
                overflow: hidden;
                background: url(/assets/images/icons/thumb.svg) center center no-repeat;

                @include breakpoint($mobile_bp) {
                    width: 4rem;
                    height: 4rem;
                    background: url(/assets/images/icons/thumb-mobile.svg) center center no-repeat;
                }
            }

            input[type='radio']:checked + label:before {
                background-image: url(/assets/images/icons/thumb-checked.svg);

                @include breakpoint($mobile_bp) {
                    background-image: url(/assets/images/icons/thumb-mobile-checked.svg);
                }
            }

            .range_container {
                position: relative;
                width: 100%; /*input range width*/
                height: 1rem; /*input range height*/
                margin-bottom: 5rem;

                @include breakpoint($mobile_bp) {
                    display: none;
                }
            }

            input[type='range'] {
                position: absolute;
                width: 100%;
                height: 0.2rem;
                -webkit-appearance: none;
                background-color: #1d2b6b;
                top: -2px;
                left: -2px;
            }

            input[type='range']::-webkit-slider-thumb {
                width: 2rem;
                height: 2.4rem;
                margin-top: 0.5rem;
                -webkit-appearance: none;
                cursor: pointer;
                background: url(/assets/images/icons/thumb.svg) center center no-repeat;
            }

            input[type='range']::-moz-range-track {
                background-color: #1d2b6b;
            }

            .term-wrapper {
                display: flex;
                justify-content: space-between;
                position: relative;
                margin-bottom: 4.2rem;

                @include breakpoint($mobile_bp) {
                    margin-bottom: 3rem;
                }

                .term-line {
                    position: absolute;
                    top: 0.5rem;
                    left: 0.3rem;
                    border-bottom: 3px solid #1d2b6b;
                    width: 99%;
                    z-index: -100;

                    @include breakpoint($mobile_bp) {
                        display: none;
                    }
                }

                label {
                    padding-top: 2rem;
                    width: 2rem;
                    text-align: center;
                    cursor: pointer;

                    @include breakpoint($mobile_bp) {
                        font: normal normal 500 1.4rem/130.2% 'Montserrat';
                        padding-top: 3.5rem;
                    }
                }

                input[type='radio'] + label:before {
                    top: -0.3rem;
                    left: 0;

                    @include breakpoint($mobile_bp) {
                        left: -0.9rem;
                    }
                }
            }

            .input-label {
                font: normal normal bold 1.8rem/130.2% 'Montserrat';
                margin-bottom: 3rem;

                @include breakpoint($mobile_bp) {
                    font: normal normal 600 1.6rem/130.2% 'Montserrat';
                }
            }

            .input-wrapper-horizontal {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 3.6rem;
                position: relative;

                label {
                    font: normal normal bold 1.8rem/130.2% 'Montserrat';
                }

                @include breakpoint($mobile_bp) {
                    flex-direction: column;
                    text-align: left;

                    .input-label-horizontal {
                        font: normal normal 600 1.6rem/130.2% 'Montserrat';
                        margin-bottom: 3rem;
                        align-self: flex-start;
                    }
                }
            }

            .input-horizontal {
                font: normal normal 500 1.6rem/130.2% 'Montserrat';
                max-width: 16.8rem;
                border: 2px solid #1d2b6b;
                box-sizing: border-box;
                border-radius: 10px;
                padding: 0.3rem;

                @include breakpoint($mobile_bp) {
                    padding: 1.2rem 6.7rem;
                    border: 1px solid #1d2b6b;
                    max-width: 21.6rem;
                }
            }

            .pen-btn {
                position: absolute;
                width: 1.6rem;
                height: 1.6rem;
                right: 1.3rem;
                cursor: pointer;
                background: url(/assets/images/icons/pencil.svg) center center no-repeat;

                @include breakpoint($mobile_bp) {
                    display: none;
                }
            }

            .input-range {
                margin-bottom: 3rem;
                cursor: pointer;
            }

            .perc-type-wrapper {
                display: flex;
                flex-direction: column;

                .perc-type-item:nth-child(1) {
                    margin-bottom: 1rem;
                }

                label {
                    color: #333;
                    padding-left: 3.1rem;
                    cursor: pointer;

                    @include breakpoint($mobile_bp) {
                        padding-left: 6.1rem;
                    }
                }

                input[type='radio'] + label:before {
                    top: 0.3rem;
                    left: 0;
                }
            }

            .range-interval {
                display: flex;
                justify-content: space-between;
                margin-top: 1.3rem;
            }

            .mobile-text {
                display: none;
                font: normal normal 500 1.4rem/130.2% 'Montserrat';
                color: rgba(51, 51, 51, 0.8);
                margin-top: 1.5rem;
                align-self: flex-start;

                @include breakpoint($mobile_bp) {
                    display: block;
                }
            }
        }
    }

    &--right {
        background-color: #1d2b6b;
        color: #ffffff;
        border-radius: 10px;
        width: 100%;
        max-width: 42rem;
        padding: 7.5rem 6rem 7rem 6rem;
        margin: 0 4rem;

        @include breakpoint($mobile_menu_bp) {
            margin: 0 2rem;
        }

        @include breakpoint($tabletV_bp) {
            max-width: 40rem;
        }

        @include breakpoint(854px) {
            max-width: none;
            margin: 0;
        }

        @include breakpoint($mobile_bp) {
            padding: 5rem 2.8rem 5.5rem 2.7rem;
        }

        .calc-column-heading {
            display: block;
            font: normal normal 700 2rem/2.6rem 'Montserrat';
            color: #ffffff;
            margin-bottom: 2.1rem;

            @include breakpoint($mobile_bp) {
                text-align: center;
            }
        }

        .total-big {
            font: normal normal 600 3.5rem/4.3rem 'Montserrat';
            margin-bottom: 1.8rem;

            @include breakpoint($mobile_bp) {
                text-align: center;
                font: normal normal 600 2rem/2.4rem 'Montserrat';
                margin-bottom: 2rem;
            }
        }

        .form-item {
            margin-bottom: 4rem;
            @include breakpoint($mobile_bp) {
                font: normal normal 500 1.6rem/2rem 'Montserrat';
                margin-bottom: 2rem;
            }
        }

        .item-value {
            display: inline-block;
            margin-left: 0.4rem;
            margin-right: 0.1rem;
            border-bottom: 1px solid #ffffff;
            max-width: 12.3rem;
            width: 100%;
            text-align: center;

            @include breakpoint($mobile_bp) {
                max-width: 8.3rem;
                margin-left: 0;
                margin-right: 0;
            }
        }

        .form-button {
            background: #ffffff;
            color: #1d2b6b;
            border-radius: 10px;
            padding: 1.7rem 5rem;
            margin-bottom: 2.2rem;
            max-width: 29.7rem;
            width: 100%;
            text-align: center;
            align-self: center;
            filter: drop-shadow(0px 3px 10px rgba(255, 255, 255, 0.4));

            @include breakpoint($mobile_bp) {
                padding: 1.2rem 4.3rem;
                margin-bottom: 0;
            }

            .form-button-top {
                font: normal normal 600 2rem/2.4rem 'Montserrat';
                display: block;
                margin-bottom: 0.5rem;

                @include breakpoint($mobile_bp) {
                    font: normal normal 600 1.6rem/2rem 'Montserrat';
                    margin-bottom: 0;
                }
            }

            .form-button-bottom {
                font: normal normal 600 3.5rem/43px 'Montserrat';

                @include breakpoint($mobile_bp) {
                    display: none;
                }
            }
        }

        .start-text {
            font: normal normal 500 1.3rem/120% 'Montserrat';
            display: flex;
            align-items: center;
            text-align: justify;

            @include breakpoint($mobile_bp) {
                display: none;
            }
        }
    }
}
