.fin-services{
    background-image: url(/assets/images/slider1.png);
    padding-top: 6.5rem;
    padding-bottom: 9.1rem;
    background-size: cover;

    a,
    a:hover,
    a:focus,
    a:visited {
        text-decoration: none;
    }

    .owl-carousel .owl-next,
    .owl-carousel .owl-prev {
        width: 2.7rem;
        height: 4.3rem;
            
        position: absolute;
        top: 43%;

        &.disabled {
            display: none;
        }
        
    }
    .owl-carousel .owl-prev {
        left: -1rem;
    }
    .owl-carousel .owl-next {
        right: -1rem;
    }
 }
.fin-service{
    height: 33.3rem;
    width: 33.3rem;
    border: solid 3px #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    transition: all .1s ease-in;
    margin: 0 auto;
    cursor: pointer;
}
.fin-service:hover{
    background: #1D2B6B;
    border-color: #1D2B6B;
}
.fin-services-heading{
    text-align: center;
    font-family: 'Open Sans Condensed';
    font-size: 3.5rem;
    padding-bottom: 6.4rem;
    color: #ffffff;
}
.item-details{
    color: #ffffff;
    font-size: 18px;
    padding-right: 3rem;
    padding-left: 3rem;
    line-height: 2.7rem;
    text-align: center;
}
.item-all{
    display: grid;
    justify-items: center;
    align-content: space-between;
}
.fin-ico{
    margin-bottom: 2rem;

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}
