.fin-services{
    background-image: url(/assets/images/slider1.png);
    height: 59.9rem;
     display: grid;
    align-items: center;

    a,
    a:hover,
    a:focus,
    a:visited {
        text-decoration: none;
    }
 }
.fin-service{
    height: 33.3rem;
    width: 33.3rem;
    border: solid 3px #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    transition: all .1s ease-in;
}
.fin-service:hover{
    background: #1D2B6B;
    border-color: #1D2B6B;
}
.fin-service:visited{
    text-decoration: none;
}
.fin-services-heading{
    text-align: center;
    font-family: 'Open Sans Condensed';
    font-size: 3.5rem;
    padding-bottom: 7rem;
    color: #ffffff;
}
.item-details{
    color: #ffffff;
    font-size: 18px;
    padding-right: 3rem;
    padding-left: 3rem;
    line-height: 2.7rem;
    text-align: center;
}
.item-all{
    display: grid;
    justify-items: center;
    align-content: space-between;
}
.fin-ico{
    height: 9.2rem !important;
    width: 9.2rem !important;
    padding-bottom: 2rem;
}
 .fin-item{
    display: grid;
    justify-content: center;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 2.7rem;
  height: 4.3rem;
	
  position: absolute;
  top: 43%;
    font-size: 20px;
  color: #fff;
	
}
.owl-carousel .owl-prev {
  left: -1rem;
  background-image: url(/assets/images/prev.svg)  !important;
  background-repeat: no-repeat !important;
}
.owl-carousel .owl-next {
  right: -1rem;
  background-image: url(/assets/images/next.svg) !important;
  background-repeat: no-repeat !important;
}
