.fin-services {
    background-image: url(/assets/images/slider1.png);
    padding-top: 6.5rem;
    padding-bottom: 9.1rem;
    background-size: cover;

    @include breakpoint($tabletV_bp) {
        background: none;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    a,
    a:hover,
    a:focus,
    a:visited {
        text-decoration: none;
    }

    .owl-carousel .owl-next,
    .owl-carousel .owl-prev {
        width: 2.7rem;
        height: 4.3rem;

        position: absolute;
        top: 43%;

        &.disabled {
            display: none;
        }
    }
    .owl-carousel .owl-prev {
        left: -1rem;
    }
    .owl-carousel .owl-next {
        right: -1rem;
    }

    .owl-dots {
        margin-top: 3rem;
        text-align: center;
        .owl-dot {
            height: 1rem;
            width: 1rem;
            background: rgba(51, 51, 51, 0.5);
            border-radius: 50%;
            margin: 0 0.5rem;

            &.active {
                background: #1d2b6b;
            }
        }
    }
}
.fin-service {
    height: 33.3rem;
    width: 33.3rem;
    border: solid 3px #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.1s ease-in;
    margin: 0 auto;

    @include breakpoint($tabletV_bp) {
        background: #1d2b6b;
        border-color: #1d2b6b;
    }

    @include breakpoint($mobile_bp) {
        height: 21.6rem;
        width: 21.6rem;
    }
}
.fin-service:hover {
    background: #1d2b6b;
    border-color: #1d2b6b;
}
.fin-services-heading {
    text-align: center;
    padding-bottom: 6.4rem;
    color: #ffffff;

    @include breakpoint($tabletV_bp) {
        padding-bottom: 4rem;
        color: $primary;
    }
}
.item-details {
    font: normal normal bold 1.8rem/2.7rem 'Montserrat';
    color: #ffffff;
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: center;

    @include breakpoint($mobile_bp) {
        font: normal normal 500 1.6rem/120% 'Montserrat';
    }
}
.item-all {
    display: grid;
    justify-items: center;
    align-content: space-between;
}
.fin-ico {
    margin-bottom: 2rem;
    @include breakpoint($mobile_bp) {
        width: 5rem;
        height: 5rem;
        margin-bottom: 3rem;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}
