//-------------News main styles-------------//

.news {
    padding-bottom: 15rem;

    @include breakpoint($tabletV_bp) {
        padding-bottom: 6rem;
    }

    a,
    a:hover,
    a:focus,
    a:visited {
        text-decoration: none;
    }
}

.customers-news {
    position: relative;

    .owl-carousel .owl-next,
    .owl-carousel .owl-prev {
        max-width: 6.5rem;
        max-height: 7rem;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 40%;

        &.disabled {
            display: none;
        }
    }

    .owl-carousel .owl-prev {
        left: -1rem;
        transform: rotateY(180deg);
    }
    .owl-carousel .owl-next {
        right: -1rem;
    }

    .owl-dots {
        margin-top: 3rem;
        text-align: center;
        .owl-dot {
            height: 1rem;
            width: 1rem;
            background: rgba(51, 51, 51, 0.5);
            border-radius: 50%;
            margin: 0 0.5rem;

            &.active {
                background: #1d2b6b;
            }
        }
    }
}

.news-heading {
    text-align: center;
    padding-bottom: 10rem;

    @include breakpoint($tabletV_bp) {
        padding-bottom: 4rem;
    }
}

.news-service {
    display: block;
    height: 33.2rem;
    width: 33.2rem;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 1.5rem;
    transition: margin 0.2s linear;
    background-position: center;

    @include breakpoint($mobile_bp) {
        height: 21.6rem;
        max-width: 21.6rem;
    }

    .background-mask {
        background: rgba(82, 81, 81, 0.57);
        transition: background 0.2s linear;
        height: inherit;
        display: flex;
        align-items: center;
    }

    &--hovered {
        &:hover {
            margin: -1.5rem auto;
            box-shadow: 0px 4px 20px rgba(29, 43, 107, 0.5);

            .background-mask {
                background-color: #1d2b6b;
            }
        }
    }
}

.news-item-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    transition: all 0.2s ease-in;

    @include breakpoint($mobile_bp) {
        padding: 1.8rem;
    }
}

.news-item-all > hr {
    color: #ffffff;
    border: solid 1px;
    width: 9.9rem;
    margin-top: 1.8rem;
    margin-bottom: 4rem;

    @include breakpoint($mobile_bp) {
        margin-top: 1.5rem;
        margin-bottom: 2.3rem;
    }
}

.news-head {
    font: normal normal 800 1.8rem/2.2rem 'Montserrat';
    color: #ffffff;

    @include breakpoint($mobile_bp) {
        font: normal normal 600 1.4rem/1.7rem 'Montserrat';
    }
}

.news-details {
    font: normal normal bold 1.6rem/150% 'Montserrat';
    color: #ffffff;
    text-align: center;

    @include breakpoint($mobile_bp) {
        font: normal normal 500 1.4rem/120% 'Montserrat';
    }
}

.news-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 40%;
}

.news1 {
    background-image: url(/assets/images/news1.png);
}
.news2 {
    background-image: url(/assets/images/news2.png);
}
.news3 {
    background-image: url(/assets/images/news3.png);
}
.news4 {
    background-image: url(/assets/images/news1.png);
}
.news5 {
    background-image: url(/assets/images/news2.png);
}
