.news{
    display: grid;
    align-items: center;
    padding-bottom: 13rem;

    a,
    a:hover,
    a:focus,
    a:visited {
        text-decoration: none;
    }
 }

.news-heading{
    text-align: center;
    font-family: 'Open Sans Condensed';
    font-size: 3.5rem;
    line-height: 120.1%;
    padding-bottom: 10rem;
    color: #00296F;
    letter-spacing: 0.07rem;
}

.news-service{
    height: 33.2rem;
    width: 33.2rem;
    display: grid;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    background-color: none;
    transition: background-color .1s ease-in;
}

.news-item-all{
    display: grid;
    grid-gap:2rem;
    justify-items: center;
    align-content: space-between;
    padding: 3rem;
    transition: transform .2s ease-in;
}

.news-service:hover {
    background-image: none;
    background-color: #1D2B6B;

    > .news-item-all {
        transform: translateY(-20px);
    }
}

.news-item{
    display: grid;
    justify-content: center;
}

.news-item-all>hr{
    color: #ffffff;
    border: solid 1px;
    width: 9.9rem;
    
}

.news-head{
    font-family: Montserrat;
    color: #ffffff;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.news-details{
    font-size: 1.6rem;
    color: #ffffff;
    text-align: center;
    line-height: 150%;
}

.news1{
    background-image: url(/assets/images/news1.png);
}

.news2{
    background-image: url(/assets/images/news2.png);
}
.news3{
    background-image: url(/assets/images/news3.png);
}
.news4{
    background-image: url(/assets/images/news1.png);
}
.news5{
    background-image: url(/assets/images/news2.png);
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 2.7rem;
  height: 4.3rem;
	
  position: absolute;
  top: 43%;
    font-size: 20px;
  color: #fff;
	
}
