.rekvizity {
    .page-wrapper {
        padding: 7rem 12rem 0 12rem;

        @include breakpoint($tabletH_bp) {
            padding: 7rem 5rem 0 5rem;
        }

        @include breakpoint($tabletV_bp) {
            padding: 0;
        }
    }

    .table-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;

        .table-item {
            font-family: Montserrat;
            font-style: normal;
            color: #333;

            display: grid;
            grid-template-columns: minmax(20rem, 3fr) 5fr;
            padding: 3rem 0;
            border-top: 2px solid #1d2b6b;

            @include breakpoint($tabletV_bp) {
                grid-template-columns: 1fr;
            }

            &:nth-child(1) {
                border-top: none;
            }

            .title-col {
                font: normal normal 500 2rem/130% 'Montserrat';
                padding-right: 3rem;
                margin-bottom: 1.5rem;

                @include breakpoint($tabletV_bp) {
                    font: normal normal 600 1.6rem/120% 'Montserrat';
                }
            }

            .value-col {
                font: normal normal 500 2rem/130% 'Montserrat';

                @include breakpoint($tabletV_bp) {
                    font: normal normal 500 1.6rem/120% 'Montserrat';
                }
            }
        }
    }

    .download-wrapper {
        display: flex;
        flex-direction: column;

        .download-item {
            display: flex;
            align-items: center;
            text-decoration: none;
            margin-bottom: 3.5rem;

            .item-image {
                width: 6rem;
                height: 6rem;
                margin-right: 6rem;

                @include breakpoint($tabletV_bp) {
                    margin-right: 3.3rem;
                }
            }

            .item-title {
                font: normal normal 500 1.8rem/130% 'Montserrat';
                color: #333;

                @include breakpoint($tabletV_bp) {
                    font: normal normal 500 1.6rem/120% 'Montserrat';
                }
            }
        }
    }
}
