//-------------News page styles-------------//

.single-page-body {
    margin: 10rem 15rem 6rem 15rem;

    @include breakpoint($tabletV_bp) {
        margin: 3rem 0;
    }

    p {
        font: normal normal 500 1.8rem/120% 'Montserrat';

        @include breakpoint($mobile_bp) {
            font: normal normal 500 1.6rem/120% 'Montserrat';
        }
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 6rem auto;
    }
}

.single-page-bottom {
    text-align: center;
}

.news-page-wrapper {
    padding: 10rem 10rem 0 10rem;

    @include breakpoint($mobile_bp) {
        padding: 0;
    }

    .news-page-grid {
        display: grid;
        grid-gap: 9rem;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 6rem;

        @include breakpoint(1330px) {
            grid-template-columns: 1fr 1fr;
        }

        @include breakpoint(920px) {
            grid-template-columns: 1fr;
            margin-bottom: 3rem;
            grid-gap: 2rem;
        }
    }
}
