.dlya-partnerov {
    .advantages-title {
        font: normal normal 500 2.5rem/30px 'Montserrat';
        text-transform: uppercase;
        margin-top: 4rem;
        margin-bottom: 6.4rem;
        text-align: center;

        @include breakpoint($tabletV_bp) {
            font: normal normal 500 1.6rem/120% 'Montserrat';
            margin-top: 0;
            padding-top: 0;
            margin-bottom: 4rem;
            text-align: left;
            text-transform: none;
        }
    }

    .advantages-items {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        white-space: nowrap;
        padding: 0;
        list-style-type: none;

        @include breakpoint($tabletV_bp) {
            flex-direction: column;
        }
    }

    .advantages-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
        max-width: 25%;

        @include breakpoint($tabletV_bp) {
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            max-width: none;
            margin-bottom: 3rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .item-image {
        margin: auto;

        @include breakpoint($tabletV_bp) {
            margin: 0;
            width: 35px;
            height: 35px;
        }
    }

    .item-title {
        font: normal normal 500 2rem/2.4rem 'Montserrat';
        color: #333333;
        text-transform: uppercase;
        white-space: break-spaces;
        margin-top: 3rem;

        @include breakpoint($tabletV_bp) {
            font: normal normal 500 1.6rem/120% 'Montserrat';
            margin-left: 0;
            text-align: left;
            margin-left: 3rem;
            margin-top: 0;
            text-transform: none;
        }
    }

    .perspectives-wrapper {
        background: url(/assets/images/perspectivesBack.png) center no-repeat;
        background-size: cover;

        .container {
            padding-top: 4.4rem;
            padding-bottom: 6rem;
            color: $secondary;
        }
    }

    .background-mask {
        background: rgba(37, 37, 37, 0.83);
    }

    .perspectives-title {
        font: normal normal 500 2.5rem/150% 'Montserrat';
        text-align: center;
        color: inherit;

        @include breakpoint($tabletV_bp) {
            font: normal normal 500 1.6rem/120% 'Montserrat';
        }
    }

    .perspectives {
        display: flex;
        justify-content: space-between;

        @include breakpoint($tabletV_bp) {
            display: none;
        }
    }

    .perspectives-mobile {
        display: none;
        padding: 4rem 3rem;

        @include breakpoint($tabletV_bp) {
            display: flex;
        }
    }

    .perspectives-items-left,
    .perspectives-items-right {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 50%;
        padding: 0;
        list-style-type: none;
    }

    .perspectives-items {
        padding: 0;
        list-style-type: none;
    }

    .perspectives-item {
        font: normal normal 500 2rem/150% 'Montserrat';
        position: relative;
        padding-left: 8rem;
        margin-top: 5rem;

        @include breakpoint($tabletV_bp) {
            font: normal normal 500 1.4rem/120% 'Montserrat';
            padding-left: 3rem;
            margin-top: 3rem;

            &:first-child {
                margin-top: 0;
            }
        }

        &:before {
            content: '';
            width: 3.1rem;
            height: 3.1rem;
            background: url(/assets/images/icons/mark.svg) center no-repeat;
            position: absolute;
            top: 0;
            left: 0;

            @include breakpoint($tabletV_bp) {
                width: 2rem;
                height: 2rem;
                background: url(/assets/images/icons/check.svg) center no-repeat;
                background-size: contain;
            }
        }
    }

    .text-wrapper {
        font: normal normal 500 2rem/150% 'Montserrat';
        display: flex;
        color: #333;
        text-align: center;
        margin: auto;
        padding: 21.2rem 25rem;

        @include breakpoint($tabletV_bp) {
            display: none;
        }
    }

    .request-wrapper {
        background: url(/assets/images/requestBack.png) center no-repeat;
        background-size: cover;

        .background-mask {
            padding: 21.5rem 15rem;

            @include breakpoint($tabletV_bp) {
                padding: 11.3rem 3.2rem;
            }
        }

        .request-title {
            font: normal normal 600 2.5rem/150% 'Montserrat';
            text-align: center;
            margin-bottom: 10.5rem;
            color: $secondary;

            @include breakpoint($tabletV_bp) {
                font: normal normal 500 1.6rem/120% 'Montserrat';
                margin-bottom: 0;
            }
        }

        .request-button {
            display: block;
            margin: 0 auto;
            border-radius: 1rem;
            padding: 2.9rem 10.2rem;

            @include breakpoint($tabletV_bp) {
                display: none;
            }
        }
    }
}
