<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="assets/images/logow.svg" alt="Footer Logo">
            </div>
            <ul class="footer-nav">
                <li><a href="/o-boggat.html">О Боггат</a></li>
                <li><a href="#">Займы</a></li>
                <li><a href="/bolshoy-procent.html">Сбережения</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Личный кабинет</a></li>
            </ul>
            <div class="contact-block">
                <div class="footer-phone">8 (800) 250-88-11</div>
                <div class="footer-address">г. Челябинск, пр. Ленина, д. 55 А, офис 1001</div>
            </div>
            <div class="Terms-of-use"><p>Пользовательское соглашение Базовый стандарт защиты прав Информация о размере взносов и ответственности пайщиков ФЗ 190-ФЗ</p></div>
            <div class="social-networks">
                <div class="vk">
                    <a href="#">
                        <img src="assets/images/vk.svg" alt="Footer vk">
                    </a>
                </div>
                <div class="instagram">
                    <a href="#">
                        <img src="assets/images/instagram.svg" alt="Footer instagram">
                    </a>
                </div>
                <div class="fb">
                    <a href="#">
                        <img src="assets/images/fb.svg" alt="Footer fb">
                    </a>
                </div>
            </div><!-- .social-networks-->
            <div class="footer-info">Информация, представленная на данной странице, не является публичной офертой. Перепечатка и иное воспроизведение материалов сайта возможны только с письменного разрешения кооператива. Кредитный потребительский кооператив  «Боггат» (КПК «БОГГАТ»), г. Челябинск, проспект Ленина, 55А, оф. 1001, ОГРН: 1113443008865  ИНН: 3443112051,  Член СРО "Кооперативные Финансы", запись   №699 от 13.02.2020 г.  Сберегательные   и   заемные программы КПК «БОГГАТ» доступны только для  пайщиков  кооператива на  основе солидарного несения членами субсидиарной ответственности по его обязательствам в пределах не внесенной части дополнительного взноса каждого из членов. Кооператив оказывает услуги исключительно пайщикам. </div>
            <div class="footer-copyright">©2011-2020 BOGGAT.RU</div>
        </div><!-- .footer-container -->
    </div>
</footer>