<header-secondary class="header-secondary">
    <div class="container">
        <div class="header-secondary-left">
            <a href="/" class="header-secondary-bottom__logo">
                <img src="assets/images/logob.png" alt="logo">
            </a>
        </div>
        <div class="header-secondary-right">
            <div class="header-secondary-top">
                <a href="#" class="header-secondary-top__email">
                    <img class="top-icon" src="assets/images/icons/envelope.svg" alt="email">
                    <span class="top-text">info@boggat.ru</span>
                </a>
                <a href="#" class="header-secondary-top__phone">
                    <img class="top-icon" src="assets/images/icons/phone.svg" alt="phone">
                    <span class="top-text">8 (800) 250-11-88</span>
                </a>
                <div class="header-secondary-top__search">
                    <img class="top-icon" src="assets/images/icons/loupe.svg" alt="search">
                    <form class="top-search" action="/" method="POST">
                        <input class="search-input" type="text" placeholder="Поиск">
                    </form>
                </div>
            </div>
            <div class="header-secondary-bottom">
                
                <div class="header-secondary-bottom__nav">
                    <ul class="nav" id="nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link has-subnav">О Боггат</a>

                            <ul class="subnav">
                                <li>
                                    <a href="o-boggat.html" class="subnav-link">Информация о Боггат</a>
                                </li>
                                <li>
                                    <a href="u-dokumenty.html" class="subnav-link">Управляющие документы</a>
                                </li>
                                <li>
                                    <a href="rekvizity.html" class="subnav-link">Реквизиты</a>
                                </li>
                                <li>
                                    <a href="news.html" class="subnav-link">Новости</a>
                                </li>
                                <li>
                                    <a href="fin-jurnal.html" class="subnav-link">Финансовый журнал</a>
                                </li>
                                <li>
                                    <a href="reviews.html" class="subnav-link">Отзывы</a>
                                </li>
                                <li>
                                    <a href="dlya-partnerov.html" class="subnav-link">Для партнеров</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="zaym-gospoddergka.html" class="nav-link">Займы</a>
                        </li>
                        <li class="nav-item">
                            <a href="bolshoy-procent.html" class="nav-link">Сбережения</a>
                        </li>
                        <li class="nav-item">
                            <a href="contacts-headoffice.html" class="nav-link">Контакты</a>
                        </li>
                    </ul>
                    <button class="cta-button-light lk-button">Личный кабинет</button>
                </div>
            </div>
        </div>
    </div>
</header-secondary>
