<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top__email">
                <img src="../assets/images/envelope.svg" alt="email">
                <span class="header-email">info@boggat.ru</span>
            </div>
            <div class="header-top__phone">
                <img src="../assets/images/phone.svg" alt="phone">
                <span class="header-phone">8 (800) 250-11-88</span>
            </div>
            <div class="header-top__search">
                <img src="../assets/images/loupe.svg" alt="search">
                <input type="text" placeholder="Поиск">
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom__logo">
                <img src="../assets/images/logob.png" alt="logo">
            </div>
            <div class="header-bottom__nav">
                <ul class="nav">
                    <li class="nav-link"><a href="#">О Боггат</a></li>
                    <li class="nav-link"><a href="#">Займы</a></li>
                    <li class="nav-link"><a href="#">Сбережения</a></li>
                    <li class="nav-link"><a href="#">Контакты</a></li>
                </ul>
                <button class="lk-button">Личный кабинет</button>
            </div>
        </div>
    </div>
    <div class="header-slider">
        slider
    </div>
</header>
