<aside class="mobile-nav">
    <ul class="nav">
        <li class="nav-item">
            <a href="#" class="nav-link has-subnav">О Боггат</a>
            <ul class="subnav">
                <li>
                    <a href="o-boggat.html" class="subnav-link">Информация о Боггат</a>
                </li>
                <li>
                    <a href="u-dokumenty.html" class="subnav-link">Управляющие документы</a>
                </li>
                <li>
                    <a href="rekvizity.html" class="subnav-link">Реквизиты</a>
                </li>
                <li>
                    <a href="news.html" class="subnav-link">Новости</a>
                </li>
                <li>
                    <a href="fin-jurnal.html" class="subnav-link">Финансовый журнал</a>
                </li>
                <li>
                    <a href="reviews.html" class="subnav-link">Отзывы</a>
                </li>
                <li>
                    <a href="dlya-partnerov.html" class="subnav-link">Для партнеров</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="zaym-gospoddergka.html" class="nav-link">Займы</a>
            <ul class="subnav">
                <li>
                    <a href="materinsky-kapital.html" class="subnav-link">Займ по программе “Материнский капитал”</a>
                </li>
                <li>
                    <a href="zaym-pod-zalog.html" class="subnav-link">Займ под залог недвижимости</a>
                </li>
                <li>
                    <a href="zaym-potrebitelsiy.html" class="subnav-link">Займ потребительский</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="bolshoy-procent.html" class="nav-link">Сбережения</a>
            <ul class="subnav">
                <li>
                    <a href="bolshoy-procent.html" class="subnav-link">Программа “Большой процент”</a>
                </li>
                <li>
                    <a href="zaslugeniy-pensioner.html" class="subnav-link">Программа “Заслуженный пенсионер”</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="contacts-headoffice.html" class="nav-link">Контакты</a>
            <ul class="subnav">
                <li>
                    <a href="contacts-headoffice.html" class="subnav-link">Главный офис</a>
                </li>
                <li>
                    <a href="contacts-to-boss.html" class="subnav-link">Обратиться к руководителю</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>