.contacts {
    margin-bottom: 7rem;

    .container {
        position: relative;
    }
}

.all-contacts-info {
    display: flex;

    @include breakpoint(762px) {
        flex-direction: column;
    }
}

.adress-fields {
    padding-top: 5rem;

    @include breakpoint($mobile_bp) {
        padding-top: 1rem;
    }
}

.adress-fields-header {
    font: normal normal 600 2rem/130% 'Montserrat';
    color: #1D2B6B;
    padding-top: 3rem;

    &:first-child {
        padding-top: 0;
    }
}

.form-item.head-office-form-item {
    margin-top: 3rem;
}

.right-wrapper {
    padding-top: 5rem;
    margin-left: 12rem;
    margin-bottom: 8rem;
    overflow:hidden;
    position:relative;
    height:inherit;
    width: 100%;

    @include breakpoint($tabletH_bp) {
        margin-left: 6rem;
    }

    @include breakpoint(762px) {
        margin: 0;
        height: 365px;
    }

    & iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}

.to-boss-all-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    margin-top: 6rem;
    max-width: 81rem;
    width: 100%;
    background: #1D2B6B;
    box-shadow: 3px 3px 10px rgba(29, 43, 107, 0.4);
    border-radius: 10px;
    z-index: 1000;
    padding: 8rem 6.8rem 11rem;

    @include breakpoint($tabletH_bp) {
        position: relative;
        transform: translateX(0);
        left: 0;
        padding: 3rem 2.9rem 6rem;
    }

    .to-boss-info-heder {
        margin-bottom: 4rem;
        color: #fff;
        text-align: center;
        font: normal normal 600 2.5rem/130% 'Montserrat';

        @include breakpoint($tabletH_bp) {
            font: normal normal 500 2rem/120% 'Montserrat';
        }
    }

    > p {
        font: normal normal 400 2rem/120% 'Montserrat';
        text-align: justify;
        color: #FFFFFF;

        @include breakpoint($tabletH_bp) {
            font: normal normal 400 1.6rem/120% 'Montserrat';
        }
    }
}

.form-to-boss {
    margin-top: -6rem;
    background-image: url(/assets/images/telefon.png);
    z-index: 100;
    height: 73.1rem;
    margin-top: 55rem;

    @include breakpoint($tabletH_bp) {
        margin-top: 1rem;
        background: none;
    }
}
.form-to-boss-all{
    display: grid;
}
.form-to-boss-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    justify-self: center;
    width: 64.3rem;
    margin-top: 14rem;
    margin-bottom:14.3rem;

    @include breakpoint($tabletH_bp) {
        margin-top: 6rem;
        grid-template-columns: 1fr;
    }
}


.form-to-boss-wrapper label {
    font: normal normal 500 1.6rem/130% 'Montserrat';
    display: block;
    color: rgba(51, 51, 51, 0.5);
}

.form-to-boss-wrapper p {
    margin: 0;
}

.form-to-boss-input {
    width: 100%;
    border: none;
    border-bottom: 0.15rem solid #333333;
    background-color: transparent;
}

.full-width {
    grid-column: 1 / 3;
}
.button-send, .agree-send{
    justify-self: center;
}